<!-- Navbar -->
<nav>
  <div class="menu">
    <button id="menu-toggle">☰</button>
    <ul id="menu-items">
        <span id="close-menu">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
    <line x1="5" y1="5" x2="25" y2="25" stroke="white" stroke-width="3" />
    <line x1="25" y1="5" x2="5" y2="25" stroke="white" stroke-width="3" />
  </svg>
</span> <!-- 關閉按鈕 -->
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Travel List</a></li>
    </ul>
  </div>
  <div class="logo">
    <h1>司馬宏達</h1>
  </div>
</nav>
